<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body style="background: white;">
    <div>
    <input type="text" placeholder="Enter your name"/> </br>
    <input type="password" placeholder="Enter your password"/></br>
    <input type="Submit" value="submit">
    </div>
</body>
</html>

<style>
    div {
        margin-top: 200px;
        margin-left: 400px;
        margin-right: 400px;    
        padding: 30px;
        text-align: center;
        background-color: #555; 
        border-radius: 10px;

    }
</style>